


/* CSS da página de contato */

.principal-contato {
    display: flex;
    flex-direction: column;
	max-width: 940px;
	margin: 0 auto !important;
}

form {
	margin: 40px 0 40px;
	display: block;
}

form label,
form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

table td,
th {
	border: 1px solid black;
	padding: 8px 15px;
}

